asgiref==3.7.2
Django==5.0.2
django-appconf==1.0.6
django-crispy-forms==2.1
django-imagekit==5.0.0
django-phonenumber-field==7.3.0
phonenumbers==8.13.30
pilkit==3.0
pillow==10.2.0
pyee==11.1.0
python-ffmpeg==2.0.10
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2024.1
