{% extends 'components/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static '\css\authentication\login.css' %}">
    <style>
        /* Embed your CSS styles here */
        *{
            text-decoration: none !important;
        }
        html, body{
            height: 100%;
        }
        .text-center{
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-align: center;
            -ms-flex-pack: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            padding-top: 40px;
            padding-bottom: 40px;
            height: 80%;
        }
        .form-signin{
            max-width: 330px;
        }
        .form-signin input[id="id_username"]{
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[id="id_password"]{
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block content %}
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/mediaApp/">
                <h2>Dream Forge Production</h2>
            </a>
        </div>
    </nav>
    <div class="text-center">
        <form method="post" class="form-signin" action="{% url 'login' %}">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            <!-- Username form -->
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}" class="sr-only"></label>
            <input class="form-control" id="{{ form.username.id_for_label }}"
                   maxlength="30" name="{{ form.username.html_name }}"
                   placeholder="Username" type="text" />
            <!-- Password form -->
            {{ form.password.errors }}
            <label for="{{ form.password.id_for_label }}" class="sr-only"></label>
            <input class="form-control" id="{{ form.password.id_for_label }}"
                   maxlength="30" name="{{ form.password.html_name }}"
                   placeholder="Password" type="password" />
            <button type="submit" class="btn btn-lg btn-primary btn-block">Signin</button>
        </form>
    </div>
</body>
{% endblock %}
