altgraph==0.17.4
asgiref==3.7.2
attrs==23.1.0
certifi==2023.7.22
cffi==1.15.1
Django==4.2.5
django-appconf==1.0.6
django-cors-headers==4.2.0
django-filter==23.3
django-imagekit==5.0.0
django-phonenumber-field==7.1.0
django-taggit==4.0.0
djangorestframework==3.14.0
exceptiongroup==1.1.3
h11==0.14.0
idna==3.4
imageio==2.34.0
imageio-ffmpeg==0.4.9
Markdown==3.4.4
numpy==1.26.4
outcome==1.2.0
packaging==23.2
pefile==2023.2.7
phonenumbers==8.13.21
pilkit==3.0
Pillow==10.0.1
psutil==5.9.8
psycopg2==2.9.7
pycodestyle==2.11.1
pycparser==2.21
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
PySocks==1.7.1
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
pywin32-ctypes==0.2.2
selenium==4.12.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
trio==0.22.2
trio-websocket==0.10.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
vobject==0.9.6.1
wsproto==1.2.0
