{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mediaApp/watch.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <video width="100%" controls>
                    <source src="/mediaApp/video/{{ video.id }}/" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h2 class="mt-3">{{ video.title }}</h2>
                <p class="text-muted">{{ video.views }} views</p>
                <p>{{ video.description }}</p>
                <div class="mb-4">
                    {% for tag in tags %}
                        <span class="badge badge-info">#{{ tag.name }}</span>
                    {% endfor %}
                </div>
                <form method="post" action="{% url 'add_comment' video.id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
                <h3 class="mt-4">Comments</h3>
                {% for comment in comments %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <p class="card-text">{{ comment.text }}</p>
                            <p class="card-subtitle text-muted">
                                by <a href="/core/profile/{{ comment.author.id }}">{{ comment.author }}</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h4>Related Videos</h4>
                <div class="list-group">
                    {% for related_video in related_videos %}
                        <a href="{% url 'mediaApp/watch' video_id=related_video.id %}" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ related_video.title }}</h5>
                                <small>{{ related_video.views }} views</small>
                            </div>
                            <img src="{% url 'generate_thumbnail' video_id=related_video.id %}" alt="{{ related_video.title }}" class="img-fluid">
                        </a>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
</body>
