*{
    text-decoration: none !important;
}
.video-thumbnail{
    max-width: 350px !important;
    max-height: 197px !important;
    text-align: center;
    background-color: lightgrey;
    overflow: hidden;
}
.img-fluid{
    max-height: 197px !important;
}
.video-testimonial-block{
    max-width: 350px !important;
    max-height: 197px !important;
}
.pfp{
    max-width: 25px;
    border-radius: 25px;
}