<!-- Include your site's navigation, logo, user authentication status, etc. -->
<nav>
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'core:profile' userid=user.id %}">Home</a></li>
            <li><a href="{% url 'authentication:logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'authentication:login' %}">Login</a></li>
            <li><a href="{% url 'authentication:register' %}">Register</a></li>
        {% endif %}
        <!-- Add more navigation links as needed -->
    </ul>
</nav>

<!-- Add other header content like logo, user information, etc. -->
<div>
    <h1>Dream Forge Production</h1>
</div>
